
@{
    ViewBag.Title = "balance";
}

<h2>balance</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
                var debit_total = 0;
                var credit_total = 0;
                var total_balance = 0;
                $(document).ready(function () {
                    var id = [];
                    $('#test tbody tr').each(function () {
                        if ($(this).find('td:eq(1)').text() != ""
                          &&
                        id.indexOf($(this).find('td:eq(1)').text()) == -1
                        ) {
                            id.push($(this).find('td:eq(1)').text())
                        }
                    });
                    objNewTable = "<thead><tr><th>ID</th><th>MemberID</th><th>Name</th><th>Debit</th></tr></thead> ";
                            for (i = 0; i < id.length; i++) {
                                var tableRow = $("#test td").filter(function () {
                                    return $(this).text() == id[i];
                                }).closest("tr");


                            sum = 0;
                        $(tableRow).each(function () {
                                sum = sum + parseInt($(this).find("td:eq(5)").text(), 10);

                        });
                        debit_total = sum;
                        total_balance -= debit_total;

                            objNewTable = objNewTable + "<tr><td>" + (i + 1) + "</td><td>" + $(tableRow).find(':eq(1)').html() + "</td><td>" + $(tableRow).find(':eq(2)').html() + "</td><td>" + sum + "</td></tr>"
                    }

                    $('#result').html(objNewTable)

                });
</script>


<script>
                $(document).ready(function () {
                    var id = [];
                    $('#test1 tbody tr').each(function () {
                        if ($(this).find('td:eq(1)').text() != ""
                          &&
                        id.indexOf($(this).find('td:eq(1)').text()) == -1
                        ) {
                            id.push($(this).find('td:eq(1)').text())
                        }
                    });
                    objNewTable = "<thead><tr><th>Member ID</th><th>Name</th><th>Credit</th></tr></thead> ";
                            for (i = 0; i < id.length; i++) {
                                var tableRow = $("#test1 td").filter(function () {
                                    return $(this).text() == id[i];
                                }).closest("tr");


                            sum = 0;
                        $(tableRow).each(function () {
                                sum = sum + parseInt($(this).find("td:eq(4)").text(), 10);

                        });
                        credit_total = sum;
                        total_balance += credit_total;
                            objNewTable = objNewTable + "<tr>"+"<td>" + $(tableRow).find(':eq(0)').html() + "</td><td>" + $(tableRow).find(':eq(1)').html() + "</td><td>" + sum + "</td></tr>"
                            }
                            $('#credit_total').html(credit_total);
                            $('#debit_total').html(debit_total);
                            $('#total_balance').html(total_balance);
                            $('#result1').html(objNewTable)


                });
</script>


@Html.Raw(ViewBag.debit_get)
@Html.Raw(ViewBag.credit)

<table id="result" class="table"></table>

<table id="result1" class="table"></table>