@{
}
<body>
    <div class="container">
        <div class="row">
            <br />
            <div class="col-md-3">
                <a href="~/Home/Student_Store_Statement" class="btn btn-warning" style="padding:20px;font-size:16px">Student Store Details</a>
            </div>

        </div>
        <br /><br />

        <div class="row">
            <div class="col-md-3">
                <a href="~/Home/Student_Store_Statement_css" class="btn btn-info" style="padding:20px;font-size:16px">Print Student Store Details</a>
            </div>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-md-3">
                <a href="~/Home/swami" class="btn btn-danger" style="padding:20px;font-size:16px;">Gurukulite Balance Sheet</a>
            </div>

        </div>
    </div>
</body>